

//grid
.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  

@media (min-width: 576px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
  }
}



  

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > {

    .col,
    [class*=col-] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > {
  
      .col,
      [class*=col-] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  
  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col-auto,
  .col-hd,
  .col-hd-1,
  .col-hd-2,
  .col-hd-3,
  .col-hd-4,
  .col-hd-5,
  .col-hd-6,
  .col-hd-7,
  .col-hd-8,
  .col-hd-9,
  .col-hd-10,
  .col-hd-11,
  .col-hd-12,
  .col-hd-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-auto,
  .col-qd,
  .col-qd-1,
  .col-qd-2,
  .col-qd-3,
  .col-qd-4,
  .col-qd-5,
  .col-qd-6,
  .col-qd-7,
  .col-qd-8,
  .col-qd-9,
  .col-qd-10,
  .col-qd-11,
  .col-qd-12,
  .col-qd-auto,
  .col-rt,
  .col-rt-1,
  .col-rt-2,
  .col-rt-3,
  .col-rt-4,
  .col-rt-5,
  .col-rt-6,
  .col-rt-7,
  .col-rt-8,
  .col-rt-9,
  .col-rt-10,
  .col-rt-11,
  .col-rt-12,
  .col-rt-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  
  .col-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  
  .col-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  .col-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  
  .col-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .col-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  
  .col-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .order-first {
    -ms-flex-order: -1;
    order: -1;
  }
  
  .order-last {
    -ms-flex-order: 13;
    order: 13;
  }
  
  .order-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  
  .order-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  
  .order-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  
  .order-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  
  .order-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  
  .order-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  
  .order-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  
  .order-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  
  .order-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  
  .order-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  
  .order-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  
  .order-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  
  .order-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  
  .offset-1 {
    margin-left: 8.33333%;
  }
  
  .offset-2 {
    margin-left: 16.66667%;
  }
  
  .offset-3 {
    margin-left: 25%;
  }
  
  .offset-4 {
    margin-left: 33.33333%;
  }
  
  .offset-5 {
    margin-left: 41.66667%;
  }
  
  .offset-6 {
    margin-left: 50%;
  }
  
  .offset-7 {
    margin-left: 58.33333%;
  }
  
  .offset-8 {
    margin-left: 66.66667%;
  }
  
  .offset-9 {
    margin-left: 75%;
  }
  
  .offset-10 {
    margin-left: 83.33333%;
  }
  
  .offset-11 {
    margin-left: 91.66667%;
  }
  
  @media (min-width: 576px) {
    .col-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-sm-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  
    .col-sm-1 {
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-sm-2 {
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-sm-4 {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-sm-5 {
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-sm-7 {
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-sm-8 {
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-sm-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-sm-10 {
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-sm-11 {
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .order-sm-first {
      -ms-flex-order: -1;
      order: -1;
    }
  
    .order-sm-last {
      -ms-flex-order: 13;
      order: 13;
    }
  
    .order-sm-0 {
      -ms-flex-order: 0;
      order: 0;
    }
  
    .order-sm-1 {
      -ms-flex-order: 1;
      order: 1;
    }
  
    .order-sm-2 {
      -ms-flex-order: 2;
      order: 2;
    }
  
    .order-sm-3 {
      -ms-flex-order: 3;
      order: 3;
    }
  
    .order-sm-4 {
      -ms-flex-order: 4;
      order: 4;
    }
  
    .order-sm-5 {
      -ms-flex-order: 5;
      order: 5;
    }
  
    .order-sm-6 {
      -ms-flex-order: 6;
      order: 6;
    }
  
    .order-sm-7 {
      -ms-flex-order: 7;
      order: 7;
    }
  
    .order-sm-8 {
      -ms-flex-order: 8;
      order: 8;
    }
  
    .order-sm-9 {
      -ms-flex-order: 9;
      order: 9;
    }
  
    .order-sm-10 {
      -ms-flex-order: 10;
      order: 10;
    }
  
    .order-sm-11 {
      -ms-flex-order: 11;
      order: 11;
    }
  
    .order-sm-12 {
      -ms-flex-order: 12;
      order: 12;
    }
  
    .offset-sm-0 {
      margin-left: 0;
    }
  
    .offset-sm-1 {
      margin-left: 8.33333%;
    }
  
    .offset-sm-2 {
      margin-left: 16.66667%;
    }
  
    .offset-sm-3 {
      margin-left: 25%;
    }
  
    .offset-sm-4 {
      margin-left: 33.33333%;
    }
  
    .offset-sm-5 {
      margin-left: 41.66667%;
    }
  
    .offset-sm-6 {
      margin-left: 50%;
    }
  
    .offset-sm-7 {
      margin-left: 58.33333%;
    }
  
    .offset-sm-8 {
      margin-left: 66.66667%;
    }
  
    .offset-sm-9 {
      margin-left: 75%;
    }
  
    .offset-sm-10 {
      margin-left: 83.33333%;
    }
  
    .offset-sm-11 {
      margin-left: 91.66667%;
    }
  }
  
  @media (min-width: 768px) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  
    .col-md-1 {
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-md-2 {
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-md-4 {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-md-5 {
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-md-7 {
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-md-8 {
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-md-10 {
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-md-11 {
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .order-md-first {
      -ms-flex-order: -1;
      order: -1;
    }
  
    .order-md-last {
      -ms-flex-order: 13;
      order: 13;
    }
  
    .order-md-0 {
      -ms-flex-order: 0;
      order: 0;
    }
  
    .order-md-1 {
      -ms-flex-order: 1;
      order: 1;
    }
  
    .order-md-2 {
      -ms-flex-order: 2;
      order: 2;
    }
  
    .order-md-3 {
      -ms-flex-order: 3;
      order: 3;
    }
  
    .order-md-4 {
      -ms-flex-order: 4;
      order: 4;
    }
  
    .order-md-5 {
      -ms-flex-order: 5;
      order: 5;
    }
  
    .order-md-6 {
      -ms-flex-order: 6;
      order: 6;
    }
  
    .order-md-7 {
      -ms-flex-order: 7;
      order: 7;
    }
  
    .order-md-8 {
      -ms-flex-order: 8;
      order: 8;
    }
  
    .order-md-9 {
      -ms-flex-order: 9;
      order: 9;
    }
  
    .order-md-10 {
      -ms-flex-order: 10;
      order: 10;
    }
  
    .order-md-11 {
      -ms-flex-order: 11;
      order: 11;
    }
  
    .order-md-12 {
      -ms-flex-order: 12;
      order: 12;
    }
  
    .offset-md-0 {
      margin-left: 0;
    }
  
    .offset-md-1 {
      margin-left: 8.33333%;
    }
  
    .offset-md-2 {
      margin-left: 16.66667%;
    }
  
    .offset-md-3 {
      margin-left: 25%;
    }
  
    .offset-md-4 {
      margin-left: 33.33333%;
    }
  
    .offset-md-5 {
      margin-left: 41.66667%;
    }
  
    .offset-md-6 {
      margin-left: 50%;
    }
  
    .offset-md-7 {
      margin-left: 58.33333%;
    }
  
    .offset-md-8 {
      margin-left: 66.66667%;
    }
  
    .offset-md-9 {
      margin-left: 75%;
    }
  
    .offset-md-10 {
      margin-left: 83.33333%;
    }
  
    .offset-md-11 {
      margin-left: 91.66667%;
    }
  }
  
  @media (min-width: 992px) {
    .col-lg {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-lg-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  
    .col-lg-1 {
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-lg-2 {
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-lg-4 {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-lg-5 {
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-lg-7 {
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-lg-8 {
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-lg-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-lg-10 {
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-lg-11 {
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-lg-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .order-lg-first {
      -ms-flex-order: -1;
      order: -1;
    }
  
    .order-lg-last {
      -ms-flex-order: 13;
      order: 13;
    }
  
    .order-lg-0 {
      -ms-flex-order: 0;
      order: 0;
    }
  
    .order-lg-1 {
      -ms-flex-order: 1;
      order: 1;
    }
  
    .order-lg-2 {
      -ms-flex-order: 2;
      order: 2;
    }
  
    .order-lg-3 {
      -ms-flex-order: 3;
      order: 3;
    }
  
    .order-lg-4 {
      -ms-flex-order: 4;
      order: 4;
    }
  
    .order-lg-5 {
      -ms-flex-order: 5;
      order: 5;
    }
  
    .order-lg-6 {
      -ms-flex-order: 6;
      order: 6;
    }
  
    .order-lg-7 {
      -ms-flex-order: 7;
      order: 7;
    }
  
    .order-lg-8 {
      -ms-flex-order: 8;
      order: 8;
    }
  
    .order-lg-9 {
      -ms-flex-order: 9;
      order: 9;
    }
  
    .order-lg-10 {
      -ms-flex-order: 10;
      order: 10;
    }
  
    .order-lg-11 {
      -ms-flex-order: 11;
      order: 11;
    }
  
    .order-lg-12 {
      -ms-flex-order: 12;
      order: 12;
    }
  
    .offset-lg-0 {
      margin-left: 0;
    }
  
    .offset-lg-1 {
      margin-left: 8.33333%;
    }
  
    .offset-lg-2 {
      margin-left: 16.66667%;
    }
  
    .offset-lg-3 {
      margin-left: 25%;
    }
  
    .offset-lg-4 {
      margin-left: 33.33333%;
    }
  
    .offset-lg-5 {
      margin-left: 41.66667%;
    }
  
    .offset-lg-6 {
      margin-left: 50%;
    }
  
    .offset-lg-7 {
      margin-left: 58.33333%;
    }
  
    .offset-lg-8 {
      margin-left: 66.66667%;
    }
  
    .offset-lg-9 {
      margin-left: 75%;
    }
  
    .offset-lg-10 {
      margin-left: 83.33333%;
    }
  
    .offset-lg-11 {
      margin-left: 91.66667%;
    }
  }
  
  @media (min-width: 1200px) {
    .col-xl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-xl-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  
    .col-xl-1 {
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-xl-2 {
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-xl-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-xl-4 {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-xl-5 {
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-xl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-xl-7 {
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-xl-8 {
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-xl-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-xl-10 {
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-xl-11 {
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-xl-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .order-xl-first {
      -ms-flex-order: -1;
      order: -1;
    }
  
    .order-xl-last {
      -ms-flex-order: 13;
      order: 13;
    }
  
    .order-xl-0 {
      -ms-flex-order: 0;
      order: 0;
    }
  
    .order-xl-1 {
      -ms-flex-order: 1;
      order: 1;
    }
  
    .order-xl-2 {
      -ms-flex-order: 2;
      order: 2;
    }
  
    .order-xl-3 {
      -ms-flex-order: 3;
      order: 3;
    }
  
    .order-xl-4 {
      -ms-flex-order: 4;
      order: 4;
    }
  
    .order-xl-5 {
      -ms-flex-order: 5;
      order: 5;
    }
  
    .order-xl-6 {
      -ms-flex-order: 6;
      order: 6;
    }
  
    .order-xl-7 {
      -ms-flex-order: 7;
      order: 7;
    }
  
    .order-xl-8 {
      -ms-flex-order: 8;
      order: 8;
    }
  
    .order-xl-9 {
      -ms-flex-order: 9;
      order: 9;
    }
  
    .order-xl-10 {
      -ms-flex-order: 10;
      order: 10;
    }
  
    .order-xl-11 {
      -ms-flex-order: 11;
      order: 11;
    }
  
    .order-xl-12 {
      -ms-flex-order: 12;
      order: 12;
    }
  
    .offset-xl-0 {
      margin-left: 0;
    }
  
    .offset-xl-1 {
      margin-left: 8.33333%;
    }
  
    .offset-xl-2 {
      margin-left: 16.66667%;
    }
  
    .offset-xl-3 {
      margin-left: 25%;
    }
  
    .offset-xl-4 {
      margin-left: 33.33333%;
    }
  
    .offset-xl-5 {
      margin-left: 41.66667%;
    }
  
    .offset-xl-6 {
      margin-left: 50%;
    }
  
    .offset-xl-7 {
      margin-left: 58.33333%;
    }
  
    .offset-xl-8 {
      margin-left: 66.66667%;
    }
  
    .offset-xl-9 {
      margin-left: 75%;
    }
  
    .offset-xl-10 {
      margin-left: 83.33333%;
    }
  
    .offset-xl-11 {
      margin-left: 91.66667%;
    }
  }
  
  @media (min-width: 1920px) {
    .col-hd {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-hd-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  
    .col-hd-1 {
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-hd-2 {
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-hd-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-hd-4 {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-hd-5 {
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-hd-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-hd-7 {
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-hd-8 {
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-hd-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-hd-10 {
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-hd-11 {
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-hd-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .order-hd-first {
      -ms-flex-order: -1;
      order: -1;
    }
  
    .order-hd-last {
      -ms-flex-order: 13;
      order: 13;
    }
  
    .order-hd-0 {
      -ms-flex-order: 0;
      order: 0;
    }
  
    .order-hd-1 {
      -ms-flex-order: 1;
      order: 1;
    }
  
    .order-hd-2 {
      -ms-flex-order: 2;
      order: 2;
    }
  
    .order-hd-3 {
      -ms-flex-order: 3;
      order: 3;
    }
  
    .order-hd-4 {
      -ms-flex-order: 4;
      order: 4;
    }
  
    .order-hd-5 {
      -ms-flex-order: 5;
      order: 5;
    }
  
    .order-hd-6 {
      -ms-flex-order: 6;
      order: 6;
    }
  
    .order-hd-7 {
      -ms-flex-order: 7;
      order: 7;
    }
  
    .order-hd-8 {
      -ms-flex-order: 8;
      order: 8;
    }
  
    .order-hd-9 {
      -ms-flex-order: 9;
      order: 9;
    }
  
    .order-hd-10 {
      -ms-flex-order: 10;
      order: 10;
    }
  
    .order-hd-11 {
      -ms-flex-order: 11;
      order: 11;
    }
  
    .order-hd-12 {
      -ms-flex-order: 12;
      order: 12;
    }
  
    .offset-hd-0 {
      margin-left: 0;
    }
  
    .offset-hd-1 {
      margin-left: 8.33333%;
    }
  
    .offset-hd-2 {
      margin-left: 16.66667%;
    }
  
    .offset-hd-3 {
      margin-left: 25%;
    }
  
    .offset-hd-4 {
      margin-left: 33.33333%;
    }
  
    .offset-hd-5 {
      margin-left: 41.66667%;
    }
  
    .offset-hd-6 {
      margin-left: 50%;
    }
  
    .offset-hd-7 {
      margin-left: 58.33333%;
    }
  
    .offset-hd-8 {
      margin-left: 66.66667%;
    }
  
    .offset-hd-9 {
      margin-left: 75%;
    }
  
    .offset-hd-10 {
      margin-left: 83.33333%;
    }
  
    .offset-hd-11 {
      margin-left: 91.66667%;
    }
  }
  
  @media (min-width: 2560px) {
    .col-qd {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-qd-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  
    .col-qd-1 {
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-qd-2 {
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-qd-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-qd-4 {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-qd-5 {
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-qd-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-qd-7 {
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-qd-8 {
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-qd-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-qd-10 {
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-qd-11 {
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-qd-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .order-qd-first {
      -ms-flex-order: -1;
      order: -1;
    }
  
    .order-qd-last {
      -ms-flex-order: 13;
      order: 13;
    }
  
    .order-qd-0 {
      -ms-flex-order: 0;
      order: 0;
    }
  
    .order-qd-1 {
      -ms-flex-order: 1;
      order: 1;
    }
  
    .order-qd-2 {
      -ms-flex-order: 2;
      order: 2;
    }
  
    .order-qd-3 {
      -ms-flex-order: 3;
      order: 3;
    }
  
    .order-qd-4 {
      -ms-flex-order: 4;
      order: 4;
    }
  
    .order-qd-5 {
      -ms-flex-order: 5;
      order: 5;
    }
  
    .order-qd-6 {
      -ms-flex-order: 6;
      order: 6;
    }
  
    .order-qd-7 {
      -ms-flex-order: 7;
      order: 7;
    }
  
    .order-qd-8 {
      -ms-flex-order: 8;
      order: 8;
    }
  
    .order-qd-9 {
      -ms-flex-order: 9;
      order: 9;
    }
  
    .order-qd-10 {
      -ms-flex-order: 10;
      order: 10;
    }
  
    .order-qd-11 {
      -ms-flex-order: 11;
      order: 11;
    }
  
    .order-qd-12 {
      -ms-flex-order: 12;
      order: 12;
    }
  
    .offset-qd-0 {
      margin-left: 0;
    }
  
    .offset-qd-1 {
      margin-left: 8.33333%;
    }
  
    .offset-qd-2 {
      margin-left: 16.66667%;
    }
  
    .offset-qd-3 {
      margin-left: 25%;
    }
  
    .offset-qd-4 {
      margin-left: 33.33333%;
    }
  
    .offset-qd-5 {
      margin-left: 41.66667%;
    }
  
    .offset-qd-6 {
      margin-left: 50%;
    }
  
    .offset-qd-7 {
      margin-left: 58.33333%;
    }
  
    .offset-qd-8 {
      margin-left: 66.66667%;
    }
  
    .offset-qd-9 {
      margin-left: 75%;
    }
  
    .offset-qd-10 {
      margin-left: 83.33333%;
    }
  
    .offset-qd-11 {
      margin-left: 91.66667%;
    }
  }
  
  @media (min-width: 3840px) {
    .col-rt {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-rt-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  
    .col-rt-1 {
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-rt-2 {
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-rt-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-rt-4 {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-rt-5 {
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-rt-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-rt-7 {
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-rt-8 {
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-rt-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-rt-10 {
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-rt-11 {
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-rt-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .order-rt-first {
      -ms-flex-order: -1;
      order: -1;
    }
  
    .order-rt-last {
      -ms-flex-order: 13;
      order: 13;
    }
  
    .order-rt-0 {
      -ms-flex-order: 0;
      order: 0;
    }
  
    .order-rt-1 {
      -ms-flex-order: 1;
      order: 1;
    }
  
    .order-rt-2 {
      -ms-flex-order: 2;
      order: 2;
    }
  
    .order-rt-3 {
      -ms-flex-order: 3;
      order: 3;
    }
  
    .order-rt-4 {
      -ms-flex-order: 4;
      order: 4;
    }
  
    .order-rt-5 {
      -ms-flex-order: 5;
      order: 5;
    }
  
    .order-rt-6 {
      -ms-flex-order: 6;
      order: 6;
    }
  
    .order-rt-7 {
      -ms-flex-order: 7;
      order: 7;
    }
  
    .order-rt-8 {
      -ms-flex-order: 8;
      order: 8;
    }
  
    .order-rt-9 {
      -ms-flex-order: 9;
      order: 9;
    }
  
    .order-rt-10 {
      -ms-flex-order: 10;
      order: 10;
    }
  
    .order-rt-11 {
      -ms-flex-order: 11;
      order: 11;
    }
  
    .order-rt-12 {
      -ms-flex-order: 12;
      order: 12;
    }
  
    .offset-rt-0 {
      margin-left: 0;
    }
  
    .offset-rt-1 {
      margin-left: 8.33333%;
    }
  
    .offset-rt-2 {
      margin-left: 16.66667%;
    }
  
    .offset-rt-3 {
      margin-left: 25%;
    }
  
    .offset-rt-4 {
      margin-left: 33.33333%;
    }
  
    .offset-rt-5 {
      margin-left: 41.66667%;
    }
  
    .offset-rt-6 {
      margin-left: 50%;
    }
  
    .offset-rt-7 {
      margin-left: 58.33333%;
    }
  
    .offset-rt-8 {
      margin-left: 66.66667%;
    }
  
    .offset-rt-9 {
      margin-left: 75%;
    }
  
    .offset-rt-10 {
      margin-left: 83.33333%;
    }
  
    .offset-rt-11 {
      margin-left: 91.66667%;
    }
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .h1,
  h1 {
    font-size: 2.5rem;
  }
  
  @media (max-width: 1200px) {
  
    .h1,
    h1 {
      font-size: calc(1.375rem + 1.5vw);
    }
  }
  
  .h2,
  h2 {
    font-size: 2rem;
  }
  
  @media (max-width: 1200px) {
  
    .h2,
    h2 {
      font-size: calc(1.325rem + .9vw);
    }
  }
  
  .h3,
  h3 {
    font-size: 1.75rem;
  }
  
  @media (max-width: 1200px) {
  
    .h3,
    h3 {
      font-size: calc(1.3rem + .6vw);
    }
  }
  
  .h4,
  h4 {
    font-size: 1.5rem;
  }
  
  @media (max-width: 1200px) {
  
    .h4,
    h4 {
      font-size: calc(1.275rem + .3vw);
    }
  }
  
  .h5,
  h5 {
    font-size: 1.25rem;
  }
  
  .h6,
  h6 {
    font-size: 1rem;
  }
  
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  @media (max-width: 1200px) {
    .display-1 {
      font-size: calc(1.725rem + 5.7vw);
    }
  }
  
  .display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  @media (max-width: 1200px) {
    .display-2 {
      font-size: calc(1.675rem + 5.1vw);
    }
  }
  
  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  @media (max-width: 1200px) {
    .display-3 {
      font-size: calc(1.575rem + 3.9vw);
    }
  }
  
  .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  @media (max-width: 1200px) {
    .display-4 {
      font-size: calc(1.475rem + 2.7vw);
    }
  }
  
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .small,
  small {
    font-size: 80%;
    font-weight: 400;
  }
  
  .mark,
  mark {
    padding: .2em;
    background-color: #fcf8e3;
  }
  
  .list-inline,
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  .list-inline-item {
    display: inline-block;
  
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  
  .initialism {
    font-size: 90%;
    text-transform: uppercase;
  }
  
  .blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  
  .blockquote-footer {
    display: block;
    font-size: 80%;
    color: #707070;
  
    &:before {
      content: "— ";
    }
  }
  
  .d-none {
    display: none !important;
  }
  
  .d-inline {
    display: inline !important;
  }
  
  .d-inline-block {
    display: inline-block !important;
  }
  
  .d-block {
    display: block !important;
  }
  
  .d-table {
    display: table !important;
  }
  
  .d-table-row {
    display: table-row !important;
  }
  
  .d-table-cell {
    display: table-cell !important;
  }
  
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  
  @media (min-width: 576px) {
    .d-sm-none {
      display: none !important;
    }
  
    .d-sm-inline {
      display: inline !important;
    }
  
    .d-sm-inline-block {
      display: inline-block !important;
    }
  
    .d-sm-block {
      display: block !important;
    }
  
    .d-sm-table {
      display: table !important;
    }
  
    .d-sm-table-row {
      display: table-row !important;
    }
  
    .d-sm-table-cell {
      display: table-cell !important;
    }
  
    .d-sm-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
  
    .d-sm-inline-flex {
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }
  
  @media (min-width: 768px) {
    .d-md-none {
      display: none !important;
    }
  
    .d-md-inline {
      display: inline !important;
    }
  
    .d-md-inline-block {
      display: inline-block !important;
    }
  
    .d-md-block {
      display: block !important;
    }
  
    .d-md-table {
      display: table !important;
    }
  
    .d-md-table-row {
      display: table-row !important;
    }
  
    .d-md-table-cell {
      display: table-cell !important;
    }
  
    .d-md-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
  
    .d-md-inline-flex {
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }
  
  @media (min-width: 992px) {
    .d-lg-none {
      display: none !important;
    }
  
    .d-lg-inline {
      display: inline !important;
    }
  
    .d-lg-inline-block {
      display: inline-block !important;
    }
  
    .d-lg-block {
      display: block !important;
    }
  
    .d-lg-table {
      display: table !important;
    }
  
    .d-lg-table-row {
      display: table-row !important;
    }
  
    .d-lg-table-cell {
      display: table-cell !important;
    }
  
    .d-lg-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
  
    .d-lg-inline-flex {
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }
  
  @media (min-width: 1200px) {
    .d-xl-none {
      display: none !important;
    }
  
    .d-xl-inline {
      display: inline !important;
    }
  
    .d-xl-inline-block {
      display: inline-block !important;
    }
  
    .d-xl-block {
      display: block !important;
    }
  
    .d-xl-table {
      display: table !important;
    }
  
    .d-xl-table-row {
      display: table-row !important;
    }
  
    .d-xl-table-cell {
      display: table-cell !important;
    }
  
    .d-xl-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
  
    .d-xl-inline-flex {
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }
  
  @media (min-width: 1920px) {
    .d-hd-none {
      display: none !important;
    }
  
    .d-hd-inline {
      display: inline !important;
    }
  
    .d-hd-inline-block {
      display: inline-block !important;
    }
  
    .d-hd-block {
      display: block !important;
    }
  
    .d-hd-table {
      display: table !important;
    }
  
    .d-hd-table-row {
      display: table-row !important;
    }
  
    .d-hd-table-cell {
      display: table-cell !important;
    }
  
    .d-hd-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
  
    .d-hd-inline-flex {
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }
  
  @media (min-width: 2560px) {
    .d-qd-none {
      display: none !important;
    }
  
    .d-qd-inline {
      display: inline !important;
    }
  
    .d-qd-inline-block {
      display: inline-block !important;
    }
  
    .d-qd-block {
      display: block !important;
    }
  
    .d-qd-table {
      display: table !important;
    }
  
    .d-qd-table-row {
      display: table-row !important;
    }
  
    .d-qd-table-cell {
      display: table-cell !important;
    }
  
    .d-qd-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
  
    .d-qd-inline-flex {
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }
  
  @media (min-width: 3840px) {
    .d-rt-none {
      display: none !important;
    }
  
    .d-rt-inline {
      display: inline !important;
    }
  
    .d-rt-inline-block {
      display: inline-block !important;
    }
  
    .d-rt-block {
      display: block !important;
    }
  
    .d-rt-table {
      display: table !important;
    }
  
    .d-rt-table-row {
      display: table-row !important;
    }
  
    .d-rt-table-cell {
      display: table-cell !important;
    }
  
    .d-rt-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
  
    .d-rt-inline-flex {
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }
  
  @media print {
    .d-print-none {
      display: none !important;
    }
  
    .d-print-inline {
      display: inline !important;
    }
  
    .d-print-inline-block {
      display: inline-block !important;
    }
  
    .d-print-block {
      display: block !important;
    }
  
    .d-print-table {
      display: table !important;
    }
  
    .d-print-table-row {
      display: table-row !important;
    }
  
    .d-print-table-cell {
      display: table-cell !important;
    }
  
    .d-print-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
  
    .d-print-inline-flex {
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }
  

//Important stuff

  #wrap,
  .tu-pageWrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .tu-extFlag {
    background-color: #eee;
  }

  @media (min-width: 992px) {
    .tu-mainHeaderWrapper {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-area: a;
    }
  
    .tu-mainNavWrapper {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: b;
    }
  
    .tu-contentWrapper {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
      grid-area: c;
    }
  
    .tu-mainFooterWrapper {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-area: d;
    }
  
    // .tu-pageWrapper.tu-sideNavFlag {
    //   display: -ms-grid;
    //   display: grid;
    //   -ms-grid-columns: 200px auto;
    //   -ms-grid-rows: 76px auto 100px;
    //   grid-template-areas: "a a""b c""d d";
    //   grid-template-columns: 200px auto;
    //   grid-template-rows: 76px auto 100px;
  
    //   .tu-contentWrapper {
    //     padding: 0 30px;
    //   }
    // }
  }
  
  @media (min-width: 1200px) {
    .tu-pageWrapper.tu-sideNavFlag .tu-contentWrapper {
      padding: 0 80px;
    }
  
    // .row {
    //   margin-right: -20px;
    //   margin-left: -20px;
    // }
  
    .container,
    [class*=col-],
    [class^=col-] {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  
  @media (min-width: 1920px) {
    // .row {
    //   margin-right: -30px;
    //   margin-left: -30px;
    // }
  
    .container,
    [class*=col-],
    [class^=col-] {
      padding-right: 30px;
      padding-left: 30px;
    }
  
    .tu-pageWrapper.tu-sideNavFlag {
      -ms-grid-columns: 350px auto;
      -ms-grid-rows: 126px auto 126px;
      grid-template-columns: 350px auto;
      grid-template-rows: 126px auto 126px;
  
      .tu-contentWrapper {
        padding: 0 100px;
      }
    }
  }
  
  @media (min-width: 2560px) {
    // .row {
    //   margin-right: -55px;
    //   margin-left: -55px;
    // }
  
    .container,
    [class*=col-],
    [class^=col-] {
      padding-right: 55px;
      padding-left: 55px;
    }
  
    .tu-pageWrapper.tu-sideNavFlag {
      -ms-grid-columns: 500px auto;
      grid-template-columns: 500px auto;
      -ms-grid-rows: 151px auto 151px;
      grid-template-rows: 151px auto 151px;
    }
  }
  
  @media (min-width: 3840px) {
    // .row {
    //   margin-right: -70px;
    //   margin-left: -70px;
    // }
  
    .container,
    [class*=col-],
    [class^=col-] {
      padding-right: 70px;
      padding-left: 70px;
    }
  
    .tu-pageWrapper.tu-sideNavFlag {
      -ms-grid-columns: 600px auto;
      grid-template-columns: 600px auto;
      -ms-grid-rows: 201px auto 201px;
      grid-template-rows: 201px auto 201px;
    }
  }

//tu extras

body,
html {
  height: 100%;
}

body {
  position: relative;

  &#leftAligned {
    background-color: #ddd;

    .container {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

#wrap,
.tu-pageWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.tu-extFlag {
  background-color: #eee;
}

@media (min-width: 992px) {
  .tu-mainHeaderWrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: a;
  }

  .tu-mainNavWrapper {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: b;
  }

  .tu-contentWrapper {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: c;
  }

  .tu-mainFooterWrapper {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: d;
  }

  .tu-pageWrapper.tu-sideNavFlag {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px auto;
    -ms-grid-rows: 76px auto 100px;
    grid-template-areas: "a a""b c""d d";
    grid-template-columns: 200px auto;
    grid-template-rows: 76px auto 100px;

    .tu-contentWrapper {
      padding: 0 30px;
    }
  }
}

@media (min-width: 1200px) {
  .tu-pageWrapper.tu-sideNavFlag .tu-contentWrapper {
    padding: 0 80px;
  }

//   .row {
//     margin-right: -20px;
//     margin-left: -20px;
//   }

  .container,
  [class*=col-],
  [class^=col-] {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1920px) {
//   .row {
//     margin-right: -30px;
//     margin-left: -30px;
//   }

  .container,
  [class*=col-],
  [class^=col-] {
    padding-right: 30px;
    padding-left: 30px;
  }

  .tu-pageWrapper.tu-sideNavFlag {
    -ms-grid-columns: 350px auto;
    -ms-grid-rows: 126px auto 126px;
    grid-template-columns: 350px auto;
    grid-template-rows: 126px auto 126px;

    .tu-contentWrapper {
      padding: 0 100px;
    }
  }
}

@media (min-width: 2560px) {
//   .row {
//     margin-right: -55px;
//     margin-left: -55px;
//   }

  .container,
  [class*=col-],
  [class^=col-] {
    padding-right: 55px;
    padding-left: 55px;
  }

  .tu-pageWrapper.tu-sideNavFlag {
    -ms-grid-columns: 500px auto;
    grid-template-columns: 500px auto;
    -ms-grid-rows: 151px auto 151px;
    grid-template-rows: 151px auto 151px;
  }
}

@media (min-width: 3840px) {
//   .row {
//     margin-right: -70px;
//     margin-left: -70px;
//   }

  .container,
  [class*=col-],
  [class^=col-] {
    padding-right: 70px;
    padding-left: 70px;
  }

  .tu-pageWrapper.tu-sideNavFlag {
    -ms-grid-columns: 600px auto;
    grid-template-columns: 600px auto;
    -ms-grid-rows: 201px auto 201px;
    grid-template-rows: 201px auto 201px;
  }
}


.modal-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .2s;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
  
    .cancel {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: default;
    }
  
    .modal {
      -webkit-transition: -webkit-transform .3s ease-out;
      -o-transition: -o-transform .3s ease-out;
      transition: transform .3s ease-out;
      -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
      -o-transform: translate(0, -25%);
      transform: translate(0, -25%);
    
      @media (min-width: 768px) {
        margin: 30px auto;
      }
    
      .modal-heading {
        h1 {
          text-transform: uppercase;
          font-size: 1rem;
          margin-bottom: 2rem;
          font-weight: 600;
        }
    
        .close {
          position: absolute;
          top: 2px;
          right: 20px;
          font-size: 40px;
          font-weight: 400;
          color: #000;
    
          &:hover {
            text-decoration: none;
          }
        }
      }
    
      .modal-body {
        .fa {
          font-size: 40px;
          position: absolute;
        }
    
        .content {
          margin-left: 50px;
        }
      }
    
      .modal-cta {
        margin-top: 2rem;
    
        hr {
          margin-top: 2rem;
          margin-bottom: 1.5rem;
        }
    
        .btn {
          float: right;
          margin-left: 10px;
        }
      }
    
      &.m-small {
        margin: 200px auto;
        max-height: 50vh;
        width: 400px;
      }
    }
    &.modalOpen {
      display: block;
      visibility: visible;
      opacity: 1;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1050;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%; 
  
      .modal {
        padding: 0;
        margin: 15px;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
  
        @media (min-width: 768px) {
          width: 70%;
          margin: 15px auto;
        }
      }
    }
  }
  