// ToolBox Files
@import "../../../assets/bootstrap/functions";
@import "../../../assets/bootstrap/mixins";
@import "../../../assets/variables";

/* ==========================================================================
	Header
============================================================================= */

.tu-mainHeaderWrapper {
    position: relative;
    background-color: #fff;
    
    #sideNavToggle {
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
  
      span {
        left: 15px;
      }
    }
  
    &.fixedHeader {
      padding: 0;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      height: 50px;
      z-index: 5;
      width: 100%;
    }
}  

.menuToggle {
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9;
    -webkit-transform: translateZ(0);
    position: absolute;
    transform: rotate(0deg);
}
.menuOpen {
    background-color: #fff
}

.menuOpen #shareableHeader .tu-mainHeader .shareableLogo {
    display: none
}

.menuOpen #shareableHeader .tu-mainHeader .mainNav {
    display: block
}

body {
    &.menu-opened {
        overflow: hidden;
    }
}
// Breakpoint for horizontal phone (sm)

.menuOpen {
    #shareableHeader {
        height: 95%;
        margin: 2px 2px;
        border: 1px solid #e1e1e1;
        opacity: 1;
        width: 88%;
        transform: scale(1);
        transition: transform 0.3s cubic-bezier(0.8, -0.4, 0.2, 1.44) 0s, opacity 0.3s cubic-bezier(0.8, -0.4, 0.2, 1.44) 0s;
        border-bottom: 2px solid #e1e1e1;
        float: right;
        z-index: 200;
        position: absolute;
        right: 0;
        #sideNavToggle {
            top: 15px
        }
        .mainNav {
            display: block;
            width: 100%;
            top: 15px;
            position: relative;
        }
    }  
    // .mainNavRight {
     
        
    // }
}
#shareableHeader {
    width: 100%;
    height: 100px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12);
    z-index: 1;
    #sideNavToggle {
        top: 25px;
        right: 7px;
    }
    .tu-mainHeader {
        border-bottom: none;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: self-end;
        // border-bottom: 1px solid #e1e1e1;

        .shareableLogo {
            display: block;
            width: 100%;
            background: none;
            padding-left: 10px;
            .logoLink {
                // max-width: 200px;
                // display: block;
                margin: -5px 10px 0 0 !important;
                padding: 0;
                img {
                    // width: 100%;
                    // max-width: 100%;
                    height: 100px;
                    width: 250px;
                }
            }
        }
        .mainNav {
            display: none;
            margin-bottom: auto;
            
            ul {
                list-style: none;
       
                li {
                    height: 100%;
                    float: none;
                    margin-bottom: 0;
                    a {
                        color: black;
                        display: block;
                        text-decoration: none;
                        text-transform: uppercase;
                        line-height: 1.1;
                        padding: 21px 0 7px;
                        margin: 0 14px;
                        font-weight: 600;
                        &:hover {
                            text-decoration: none;
                            color: #00A6CA;
                        }
                    }
                    &.active {
                        a {
                            color: $tu-darkest-gray;
                            border-bottom: 2px solid $tu-blue;
                        }
                    }
                }
            }
        }
        .mainNavRight {
            text-align: center;
            display: flex;
            flex-direction: row;
            margin: 0;
            align-content: flex-start;
            height: 100%;
            a {
                margin: auto 0.2em;
                box-shadow: none;
                &:hover {
                    color:#333;
                }
            }
       
        }
    }
    &.affix {
        position: fixed;
        z-index: 200;
        top: 0;
    }
}


.tu-mainHeader {
    .mainNavRight {
        @include media-breakpoint-up(md) {
        display:flex;
        opacity: 1;
        }
     a.btn, .btn {
       padding: .382em 1em;
       font-size: 1rem;
       }
   }
}

.menuOpen {
    background-color: #f9f9f9;

    #shareableHeader {
        .tu-mainHeader {
            .shareableLogo {
                display: none;
            
            }
            .mainNav {
                display: block;
                width:100%;
                li {
                    border-bottom:1px solid #e1e1e1;
                }
                a {
                    color: rgba(14,30,37,.8);
                    display: block;
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 2.618em;
                    outline: 0;
                    padding: 0 1em;
                }
            }
            .mainNavRight 
            {
                display: flex;
                opacity: 1;
                height: 90px;
                a.btn {
                font-size: 1.1rem;
            }
            }
        }
    }
}


@include media-breakpoint-up(sm) {
    #shareableHeader {
        .tu-mainHeader {
            .mainNavRight {
                opacity: 0;
                display:none;
            }
        }
    }
}


// Breakpoint for horizontal tablet (lg)
@include media-breakpoint-up(lg) {
    #shareableHeader {
        .tu-mainHeader {
            flex-direction: row;
            width: 100%;
            max-width: auto;
            padding-left: 38px;
            padding-right: 38px;
            .shareableLogo {
                float: none;
                width: auto;
                margin-right: auto;
                padding-left: 0;
                .logoLink {
                    max-width: 250px;
                }
            }
            .mainNav {
                display: block;
                margin-right: auto;
                ul {
                    height: 100px;
                    display: inline-block;
                    text-align: center;
                    li {
                        display: inline-block;
                        a {
                            text-align: center;
                            padding: 27.5px 6px; 
                            margin: 0;
                            font-size: 0.775rem;
       
                            span {
                                display: block;
                            }
                        }
                        &.active {
                            a {
                                color: $tu-darkest-gray;
                                border-bottom: 2px solid $tu-blue;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
            .mainNavRight {
                display: flex;
                opacity:1;
                // a {
                //     display: inline-block;
                //     font-size: 0.875rem;
                //     &.btn {
                //         height: 38px; 
                //         padding-top: 10px;
                //     }
                // }
            }
        }
    }
}


// Breakpoint for laptops (xl)

@include media-breakpoint-up(xl) {
    #shareableHeader {
        width: 100%;
        display: flex;
        margin: auto;
        .tu-mainHeader {
            width: 1200px;
            .shareableLogo {
                border-right: none;
                .logoLink {
                    max-width: 300px;
                    height: 50px;
                    img {
                        width: 300px;
                    }
                }
            }
            .mainNav {
                ul {
                    li {
                        a {
                            padding: 27.5px 14.2px;
                            font-weight: 600;
                            font-size: 0.805rem;
                        }
                    }
                }
            }
    
        }
    }
}



