
/* Hero Image Styles */

.hero {
    width: 100%;
    min-height: 560px;


    .mobileHeroImage {
        height: 320px;
        margin: 0 -16px 20px;
        background-size: cover;
        background-position: right center;
    }
    
    .heroContent {
        .primaryHeadline {
            // font-size: 24px;
            font-weight: 400;
            width: 100%
        }

        p {
            font-weight: 300;
        }

        .btn {
            width: 100%;
            height:auto;
            padding:20px;
        }
    }

}

/* Hero Image Styles - Small Break Point */

@media screen and (min-width: 768px) {
    .mobileHeroImageWrap {
        display: none;
    }

    .heroWrapper {
        .carousel-inner {
            background-color: black;
        }
    }

    .hero {
        min-height: 500px;
        margin-bottom: 0;
        &.background-light {
            .heroContent {
                .primaryHeadline {
                    color: black;
                    background: none;
                }
                p {
                    color: black;
                    background: none;
                }
            }
        }
        .heroImageWrap {
            .heroImage {
                height: 500px;
                margin-top: 0;
                background-size: cover;
                background-position: right center;
            }
        }


        .heroContent {
            margin-top: -503px;
            padding: 60px 0 0 0;
            width: 414px;
            background-color: transparent;
            text-shadow: none;
            color: #ffffff;
            .btn {
                width: auto;
                font-size: 1rem;
            }

            .primaryHeadline {
                font-size: 3.218em;
                letter-spacing: -.25px;
                width: 80%;
            }

            p {
                display: block;
                // font-size: 18px;
                // line-height: 24px;
                margin-bottom: 40px;
                width: 55%;
            }
        }
    }
}


/* Hero Image Styles - Large Break Point */

@media screen and (min-width: 1200px) {
    .mobileHeroImageWrap {
        display: none;
    }

    .hero {

        .heroImage {
            height: 520px;
            margin-top: 0;
        }

        .heroContent {
            // width: 47%;
            height: 380px;
            margin-left: 40px;
            .eyebrow {
                font-size: 18px;
            }

            .primaryHeadline {
                // font-size: 58px;
                // line-height: 68px;
                font-size: 3.218em;
                letter-spacing: -.25px;
                width: 80%;
            }

            p {
                display: block;
                font-size: 24px;
                line-height: 29px;
                width: 75%;
            }
        }
    }
}