$iceblue: #0FC3EA; 

.benefits-card {
    text-align: center;

    svg {
        max-width: 200px;
        max-height: 180px;
    }

    .benefit--heading {
        margin: 1.3em 0 .5em 0;

    }

    .benefits__title {
        margin: 1.3em 0 .5em 0;
        padding: 0 0.118em;
        font-size: 1.4em;
        color: $iceblue;
        @media (min-width: 48em) {
            padding: 0 1.418em;
        }
        
        @media (min-width: 60em) {
            padding: 0 1.518em;
        }
    }

    ul {
        font-family:"IntroLight";
        @media (min-width: 768px) { 
        width: 68%;
        }
        @media (min-width: 1600px) {
        width: 60%;
        } 
        margin: 0 auto 0 auto;
    }

    li {
        padding-left: 1.618em;
        position: relative;
        text-align: left;
        margin: 0 0 10px 20px;
        font-size: 1.25rem;
        line-height: 1.8rem;
    } 
    $curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);
    
    //benefits section 
    li::before {
        // background-color: #333;
        border-radius: 50%;
        color: #fff;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z '/%3E%3C/svg%3E");

        // fill: orange;
        height: 1.618em;
        left: 0;
        top: .382em;
        line-height: 1.75;
        position: absolute;
        text-align: center;
        width: 1.618em;
    }
}