$iceblue: #0FC3EA;

html {
    ::selection {
        background: $iceblue; /* WebKit/Blink Browsers */
        color:#fff;
      }
      ::-moz-selection {
        background: $iceblue; /* Gecko Browsers */
        color:#fff;
      }
    p {
        font-size: 1.2em;
    }
    ul li {
       list-style:none;
    }
    section {
        padding-bottom: 1.2236em;
        text-align: center;
    }
    a.btn, .btn {
        text-transform: none;
    }
    
    .h1,.h2,.h3,.h4,h1,h2,h3,h4,h5,h6 {
        + p {
            margin-top: .5em;
            margin-bottom: 1.0em;
        }

        // color: #0e1e25;
        // font-weight: 500;
   
        margin: 1.618em auto 1em;
    } 
    blockquote,ol,p,ul {
        margin: 1em auto 0;
        padding: 0
    }

    h2.feature-sub-heading {
        font-size: 2.5rem;
        font-weight: 800;
    }

    .hero--home {
        .h1 {
            
            margin: 1.618em auto 0.5em;
        }
        p {
            margin-bottom: 1.5em; 
        }
        .hero-img {
            padding: 0;
            img {
                @media (min-width: 60em) {
                width: 128%;
                right: 40px;
                position: relative;
                }
      
            }
        }
        .hero-text {
            padding: 0 1em;
            text-shadow: 0 2px 20px rgba(0, 0, 0, .16);
            text-align: left;

            @media (min-width: 48em) {
                padding: 20px 30px;
            }

            p {
                max-width: 100%;
            }
        }

        .button-wrap {
            @media (min-width: 120em) {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            }
            .col-md-auto {
                padding: 0 0.5em;
            }
        }

        a.btn {
            padding: 1.282em 3.8em;
            font-size: 0.9rem;
            text-transform: unset;

            @media (max-width: 58em) {
                width: 100%;
            
            }
            @media (min-width: 60em) {
                padding: 1.282em 2.4em;
            }
            @media (min-width: 120em) {
                padding: 1.182em 3.2em;
            } 

            margin-bottom:1em;
            svg {

                left: 85%;
                color: #fff;
                content: "\25BA";
                font-size: 1.218em;
                height: 1.718em;
                top: 0.782em;
                line-height: 1.75;
                position: absolute;
                text-align: center;
                width: 1.618em; 
            }
            span.btn-txt {
                position: relative;
                right: 15px;
            }
        }
    }
}

.benefits-card {

    text-align: center;

    svg {
        max-width: 200px;
        max-height: 180px;
    }

    .benefit--heading {
        margin: 1.3em 0 .5em 0;

    }

    .benefits__title {
        margin: 1.3em 0 .5em 0;
        font-weight: bold;
        padding: 0 0.118em;
        font-size: 1.4em;
        color: $iceblue;


        @media (min-width: 48em) {
            padding: 0 1.418em;
        }
        
        @media (min-width: 60em) {
            padding: 0 1.518em;
        }
    }

    ul {
        @media (min-width: 768px) and (max-width: 1024px) {
        width: 88%;
        }
        @media (min-width: 768px) { 
        width: 68%; 
        }
        @media (min-width: 1600px) {
             width: 71%; 
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 88%;
        }
        margin: 0 auto 0 auto;
    }

    li {
        padding-left: 1.618em;
        position: relative;
        text-align: left;
        margin: 0 0 10px 20px;
        font-size: 1.25rem;
        line-height: 1.8rem;
    } 
    $curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);
    
    //benefits section 
    li::before {
    
        border-radius: 50%;
        color: #fff;
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26.903 24'%3e%3cpath d='M10.193 22L2.41 14.21l3.135-2.775 4.596 4.581L23.284 2l2.909 2.806-16 17.194z'/%3e%3c/svg%3e");
        height: 1.618em;
        left: -9px;
        top: .382em;
        line-height: 1.75;
        position: absolute;
        text-align: center;
        width: 1.718em;
    }
}

//callout section 
.callout {
    .h1 {
        padding: 0;
    }
    .h1 {
        @media (min-width: 40em) {
            padding: 1.5px 3.2em;
        }
        @media (min-width: 60em) {
            padding: 1.5px 4em;
        }
        @media (min-width: 70em) {
            padding: 1.5px 5.2em;
        }
     
    }
    margin-bottom:40px;
    .callout--text {
        width: 80%;
        margin:0 auto 3.5em;
        p {
            max-width: 41.877em;
        }
        strong {
            text-transform: uppercase;
            font-size:90%;
            text-decoration: underline;
        }
        .callout-text__bottom {
            strong {
                @media (max-width: 680px) {
                display:inline-block;
                }
            }
        }
    }
    .callout--sig {
        img.callout-sig_img {
        width: 6.25em;
        }
        p {
            margin:0;
            max-width: 41.977em;
        }
        .callout--sig_name {
            margin:0 auto;
            font-weight: 800;
        }
        .callout--sig_title {
            margin: 0 auto 2.5em;
        }

  
    }
}

section.terms {
p {

    max-width: 100%;
   width:100%; 
   font-size:90%;
}
}