$off-wht: rgba(white,.4);
$iceblue: #0FC3EA;
$yellow:  #fcd800; 
  //Shareable Button Color Overides
@mixin btn-primary($btn-color) {
    border:4px solid;
	border-color: $btn-color;
    background-color: transparent;
  
	&:hover {
        background-color:darken($btn-color, 5%);
		// box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
	}
	&:active {
        // background-color: $btn-color;
        border-color: $btn-color;
        background-color:darken($btn-color, 20%);
        box-shadow: none; 
		// box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%); 
    }
    &:focus {
        background-color:darken($btn-color, 10%);
        border-color: $btn-color;
        box-shadow: none; 
    }
    &:active:focus {
        box-shadow: none;
        // box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%);
    }
}
a.btn, .btn {
    padding: .382em 1em !important;
    font-size: .9rem;
    box-sizing: border-box;
    font-weight: 700;
    box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    line-height: 1.618em;
    outline: 0;
    padding: .382em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    vertical-align: middle;
    transition: all .15s ease;
    vertical-align: middle;
    z-index: 1;
    height: auto;
}
.btn-outline-blue,a.btn-outline-blue:not([href]):not([tabindex]) {
    @include btn-primary($iceblue);
    border-radius: 45px;
}
.btn-blue,
  a.btn-blue:not([href]):not([tabindex]) {
    @include btn-primary($iceblue);
    background-color:$iceblue;
    border-radius:45px;
  }
   
    //Header Buttons TODO change class names 

.btn-outline-yellow,a.btn-outline-yellow:not([href]):not([tabindex]) {
        @include btn-primary($yellow);
  
    }
.btn-yellow, a.btn-yellow:not([href]):not([tabindex]) {
        @include btn-primary($yellow);
        background-color:$yellow;
   
}


header.retailActive {
.btn-outline-yellow,a.btn-outline-yellow:not([href]):not([tabindex]) {
        @include btn-primary($iceblue);
        border-radius: 45px;
    }
.btn-yellow, a.btn-yellow:not([href]):not([tabindex]) {
        @include btn-primary($iceblue);
        background-color:$iceblue;
        border-radius:45px;
}
}
a.btn, .btn {
    text-transform: none;
}

//overides
.site-footer {
    .btn {
        display: none !important;
}
}

// .btn-yellow {

//     &.focus,
//     &:focus {
//       box-shadow: 0 0 0 0.2rem rgba(214, 184, 0, 0.5);
//     }
//   }
  
//   a.btn-yellow:not([href]):not([tabindex]) {
  
//     &.focus,
//     &:focus {
//       box-shadow: 0 0 0 0.2rem rgba(214, 184, 0, 0.5);
//     }
//   }
  
//   .btn-yellow {
  
//     &.disabled,
//     &:disabled {
//       color: #000;
//       background-color: #fcd800;
//       border-color: #fcd800;
//     }
//   }