$iceblue: #0FC3EA;

.text-center {
    text-align: center;
}

::selection {
    background: $iceblue;
    /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: $iceblue;
    /* Gecko Browsers */
    color: #fff;
}

p {
    font-size: 1.2em;
}

ul li {
    list-style: none;
}

// section {
//     padding-bottom: 1.2236em;
//     // text-align: center;
// }
a.btn,
.btn {
    text-transform: none;
    font-family: 'Intro';
}



// .h1,.h2,.h3,.h4,h1,h2,h3,h4,h5,h6 {
//     + p {
//         margin-top: .5em;
//         margin-bottom: 1.0em;
//     }

//     // color: #0e1e25;
//     // font-weight: 500;

//     margin: 1.618em auto 1em;
// } 
// blockquote,ol,p,ul {
//     margin: 1em auto 0;
//     padding: 0
// }

h2.feature-sub-heading {
    font-size: 2.5rem;
    font-weight: 800;
}

a {
    color: #017494;

    &:hover {
        color: #0FC3EA;
    }
}

svg {
    fill: currentColor
}

@media (min-width: 120em) {
    html {
        font-size: 16px;
    }
}

svg[hidden] {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
    z-index: -1
}

html {

    blockquote,
    ol,
    ul {
        margin: 1em auto 0;
        padding: 0
    }

    //   section {
    //    p {
    //         max-width: 47.577em;
    //         font-size: 1.2em;
    //     }
    // }

    section.callout {
        p {
            max-width: 37.577em;
            font-size: 1.2em;
        }
    }

    // ul {
    //     list-style: none
    // }

    .h1,
    h1 {
        font-size: 1.618em;
        font-weight: 800;
        line-height: 1.333;
        margin-bottom: 0.5em;

        @media (min-width: 32em) {
            font-size: calc(1.618em + 1vw);
            line-height: 1.2
        }

        @media (min-width: 60em) {
            font-size: 2.618em
        }

        small {
            font-size: 80%;

            @media (min-width: 60em) {
                font-size: 70%;
            }

            display:block !important;
        }

    }

    .h2,
    h2 {
        font-size: 1.618em;
        font-weight: 600;
        line-height: 1.333;
        // @media (min-width: 60em) {
        //         font-size:2em;
        //         font-weight: 500

        // }
    }

    .h3,
    h3 {
        font-size: 1.3em;
        line-height: 1.333;
        font-family: "IntroBold";
        // text-transform:uppercase;
    }

    .h4,
    h4 {
        font-size: 1.1em;
        line-height: 1.4
    }

    //temporary blog article reset hacks
    .iframe-container {
        overflow: hidden;
        // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
        padding-top: 56.25%;
        position: relative;
    }

    .iframe-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .text-module__content .text-module__text p>img {
        margin: 10px 0;
    }

    @media screen and (min-width: 768px) {
        .text-module__content .text-module__text>p {
            margin: 0 0 20px;
        }
    }

    .text-module__content .text-module__text img {
        width: 100%;
        height: auto;
    }

    .text-module__content {
        .text-module__text {
            ul {
                margin-top: 2rem;
                margin-bottom: 2rem;

                li {
                    font-size: 1.2em;
                    line-height: 2em;
                }
            }

            p {
                font-size: 1.2em;
                line-height: 2em;

                small {
                    line-height: 1.1em;
                }
            }

            small {
                line-height: 1.1em;
            }
        }
    }
}
.text-module__content .text-module__text ol {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    margin-left: 40px !important;
}

.text-module__content .text-module__text ol li {
    font-size: 1.2em;
    line-height: 2em
}

.component-hero-short .hero-bg {
    position: absolute;
    top: 0;
    height: 295px;
    width: 100%;
    background-size: auto;
    background-position: left center;
    z-index: 2;
}

.text-module__content ul li:before {
  content: "\2022";
  float: left;
  width: 15px;
  margin-top: 1px;
  margin-left: -15px;
  font-size: 22px;
  color: #00A6CA;
}
.text-module__content ul li {
  margin-left: 30px;
  list-style: none !important;
}
.text-module__content h1 {
    margin-top: 30px
}

.text-module__content h3 {
    font-size: 1.4em;
    line-height: 1.333;
    font-weight: 400 !important;
}

p.sm-txt {
    line-height: 0.8em
}

p small {
    font-style: italic;
    line-height: 1em
}

.text-module__content span.hash {
    font-size: 1.4em;
    font-weight: bold;
    word-wrap: break-word
}

@media (min-width: 768px) {
    .hash {
        margin-top: 10px;
        font-size: 2em
    }
}
