/* TransUnion 2016 Brand Colors */
/* ---------------------------- */
/*#EEEEEE*/
/*#DDDDDD*/
/*#A9A9A9*/
/*#707070*/
/* ==========================================================================
	Component Grid
============================================================================= */
@media (min-width: 992px) {
  section#home-reports-module .flex-item {
    padding: 0 0.5em; } }

section#home-reports-module ul {
  display: flex;
  flex-flow: row wrap;
  min-height: 200px; }
  @media (min-width: 768px) {
    section#home-reports-module ul {
      min-height: 275px !important;
      width: 89%;
      margin: 0 auto; } }

@media only screen and (min-width: 768px) and (max-width: 2560px) {
  section.component-two-col .col-md-5 {
    padding: 20px 0 !important; } }

@media only screen and (max-width: 768px) {
  section.component-two-col .col-md-5 {
    padding: 20px 40px; } }

section.component-two-col .col-md-5 ul {
  margin-left: 15px;
  margin-bottom: 10px; }
  section.component-two-col .col-md-5 ul li {
    font-size: 1.1em;
    line-height: 2em;
    list-style: disc !important; }

.report-contain {
  display: block; }
  @media (min-width: 768px) {
    .report-contain {
      display: flex; } }

.component-grid {
  padding: 30px 0;
  margin: 0;
  background: #ffffff; }
  .component-grid img.img-shadow {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
    width: 100%; }
    .component-grid img.img-shadow:hover {
      border: 1px solid #e1e1e1;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5); }
  .component-grid h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center; }
  .component-grid h4 {
    font-weight: 600 !important;
    font-size: 1.56em !important; }
    @media (min-width: 768px) {
      .component-grid h4 {
        font-weight: 500 !important;
        font-size: 1em !important; } }
    @media (min-width: 992px) {
      .component-grid h4 {
        font-weight: 600 !important;
        font-size: 1.56em !important; } }
  .component-grid h5 {
    margin-bottom: 15px;
    font-weight: 700; }
  .component-grid ul.disc {
    padding-left: 15px; }
  .component-grid a.btn {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 15px; }
    @media (min-width: 768px) {
      .component-grid a.btn {
        font-size: 13px;
        padding: 9px 0; } }
    @media (min-width: 992px) {
      .component-grid a.btn {
        font-size: 18px;
        padding: 15px; } }
  .component-grid ul {
    margin-left: 15px; }
    .component-grid ul li {
      flex: 1 1 100%;
      font-size: 110%;
      font-weight: 600;
      line-height: 1.5;
      list-style: disc;
      line-height: 2em; }
      @media only screen and (min-width: 1024px) {
        .component-grid ul li {
          min-height: 2.6em; } }
      @media (min-width: 768px) {
        .component-grid ul li {
          font-size: 1em;
          font-size: 1.1em;
          line-height: 1.2em; } }
    .component-grid ul li:last-child {
      list-style: none; }
    .component-grid ul a {
      font-size: 0.9em;
      line-height: 1.2em;
      text-decoration: underline; }
  .component-grid p {
    font-size: 20px;
    margin-bottom: 0;
    min-height: 75px; }
    @media (min-width: 768px) {
      .component-grid p {
        font-size: 16px; } }
    @media (min-width: 992px) {
      .component-grid p {
        font-size: 18px; } }
    .component-grid p small {
      font-size: 88%; }
      @media only screen and (min-width: 1024px) {
        .component-grid p small {
          font-size: 92%; } }
  .component-grid small {
    font-size: 60%;
    font-weight: 300; }
