.border--blue {
  border-top: 2px solid #00a6ca;
  border-bottom: 2px solid #00a6ca; }

.eyebrow-newsletter {
  margin: 20px 0; }

.eyebrow-newsletter .form-newsletter {
  position: relative;
  margin: 20px 0;
  padding: 0 35px 10px; }
  .eyebrow-newsletter .form-newsletter .form-newsletter__copy {
    width: 100%; }
    .eyebrow-newsletter .form-newsletter .form-newsletter__copy .newsletterIcon {
      height: 35px;
      text-align: center;
      width: 100%;
      margin-bottom: 10px; }
    .eyebrow-newsletter .form-newsletter .form-newsletter__copy h5 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
      color: #000;
      font-size: 18px;
      font-weight: 700;
      font-family: Intro, 'Trebuchet MS', Helvetica, Arial, sans-serif; }
    .eyebrow-newsletter .form-newsletter .form-newsletter__copy p {
      text-align: center;
      margin-bottom: 20px;
      color: #a9a9a9;
      font-size: 10px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      width: 100%; }
  .eyebrow-newsletter .form-newsletter .form-group {
    opacity: 1;
    width: 100%; }
    .eyebrow-newsletter .form-newsletter .form-group .form-newsletter__email .form-control {
      height: 57px;
      outline: 0;
      margin: 0 0 40px;
      border: 1px solid #A9A9A9;
      background: #fff;
      box-shadow: none; }
      .eyebrow-newsletter .form-newsletter .form-group .form-newsletter__email .form-control:focus {
        border-color: #00A6CA;
        border-width: 2px;
        box-shadow: none;
        outline: none; }
    .eyebrow-newsletter .form-newsletter .form-group .form-newsletter__email .error {
      display: none;
      text-align: left;
      position: relative;
      width: 100%;
      padding: 4px 5px;
      margin-top: -1px;
      color: #B50000;
      font-weight: normal;
      border: 1px solid #B50000; }
    .eyebrow-newsletter .form-newsletter .form-group .submitButton {
      display: inline-block;
      width: 120px;
      height: auto;
      font-size: 16px;
      padding: 17px 20px 16px 20px; }
  .eyebrow-newsletter .form-newsletter.submitted {
    overflow: hidden; }
  .eyebrow-newsletter .form-newsletter.success {
    padding: 0; }
    .eyebrow-newsletter .form-newsletter.success .form-newsletter__copy,
    .eyebrow-newsletter .form-newsletter.success .form-group {
      display: none; }
    .eyebrow-newsletter .form-newsletter.success .form-newsletter--success {
      display: table; }
  .eyebrow-newsletter .form-newsletter label.error {
    width: 100%; }
    .eyebrow-newsletter .form-newsletter label.error::before {
      right: 9px;
      border-bottom-color: #B50000;
      border-width: 7px;
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .eyebrow-newsletter .form-newsletter label.error::after {
      right: 10px;
      border-bottom-color: #ffffff;
      border-width: 6px;
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }

.cta-eyebrow {
  margin: 20px 0;
  padding: 20px 10px;
  text-align: left; }

.cta-eyebrow__text-holder {
  text-align: middle; }

.cta-eyebrow__btn-holder {
  text-align: center; }

.cta-eyebrow__text {
  font-size: 15px;
  margin: 8px 0;
  text-align: center;
  vertical-align: middle; }
  .cta-eyebrow__text .cta-eyebrow__text--strong {
    display: block;
    font-size: 17px;
    font-weight: 700; }

.cta-eyebrow__btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: auto; }

.bar {
  background: #fcd800; }

.bar__left,
.bar__right {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%; }

.bar__left {
  left: 0; }

.bar__right {
  right: 0; }

.bar__top,
.bar__bottom {
  position: absolute;
  width: 100%;
  height: 4px; }

.bar__top {
  top: 0; }

.bar__bottom {
  bottom: 0; }

@media (min-width: 768px) {
  .bar__left,
  .bar__right {
    width: 10px; }
  .bar__top,
  .bar__bottom {
    height: 10px; } }

.form-newsletter .form-group {
  margin: 0;
  text-align: center; }

.form-newsletter__copy h5,
.form-newsletter__copy p {
  text-align: left; }

.form-newsletter__copy h5 {
  margin-top: 0;
  font-family: Intro, 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700; }

.form-newsletter__copy p {
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  text-transform: none; }

.form-newsletter__icon {
  display: block;
  font-size: 45px;
  text-align: center; }

.form-newsletter__email {
  width: 100%; }

.form-newsletter button {
  display: inline-block;
  width: 120px;
  margin-top: 10px; }

.form-newsletter--success {
  display: none;
  position: relative;
  width: 40%;
  height: 100%;
  margin: 0 auto; }

.form-newsletter--success__message,
.form-newsletter--fail__message {
  display: none;
  text-align: center;
  opacity: 0;
  vertical-align: middle; }

@media (min-width: 768px) {
  .eyebrow-newsletter .form-newsletter .form-newsletter__copy .newsletterIcon {
    position: absolute;
    left: 0;
    height: 60px;
    width: 60px; }
  .eyebrow-newsletter .form-newsletter .form-newsletter__copy h5 {
    text-align: left; }
  .eyebrow-newsletter .form-newsletter .form-newsletter__copy p {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    text-transform: none;
    text-align: left; }
  .form-newsletter .form-group {
    position: relative; }
  .form-newsletter__copy {
    position: relative; }
    .form-newsletter__copy h5,
    .form-newsletter__copy p {
      margin-left: 100px;
      text-align: left; }
    .form-newsletter__copy p {
      color: #000;
      font-size: 18px;
      font-weight: 300;
      text-transform: none; }
  .form-newsletter__icon {
    position: absolute;
    top: -17px;
    left: 0;
    font-size: 72px; }
  .form-newsletter__email {
    width: calc(100% - 120px);
    height: 36px;
    padding: 0 10px 0 0; }
  .form-newsletter__email,
  .form-newsletter button {
    float: left; }
  .form-newsletter button {
    margin-top: 0; } }

.ad-eyebrow {
  margin: 20px 0;
  padding: 20px 0;
  text-align: center;
  overflow: hidden; }

.ad-eyebrow__col-wrap {
  display: none; }

.ad-eyebrow__slider-wrapper {
  width: 1230px;
  overflow: hidden; }

.ad-eyebrow__title {
  margin-top: 0;
  font-size: 22px;
  font-weight: 300; }

.ad-eyebrow__image {
  max-width: 100%; }

.ad-eyebrow__subtext {
  display: block;
  color: #707070;
  font-size: 8px; }

.ad-eyebrow__col {
  margin-right: 5px;
  margin-left: 5px;
  float: left; }
  .ad-eyebrow__col:first-child {
    margin-left: 0; }
  .ad-eyebrow__col:last-child {
    margin-right: 0; }

.ad-eyebrow__content {
  position: relative;
  width: 300px;
  height: 250px;
  padding: 20px;
  background-color: #494949; }
  .ad-eyebrow__content a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%); }

.ad-eyebrow__header {
  display: table;
  width: 100%;
  height: 50px;
  margin: 0 0 20px; }

.ad-eyebrow__header-text {
  display: table-cell;
  vertical-align: bottom; }

.ad-eyebrow__text {
  font-size: 12px;
  line-height: 18px; }

.ad-eyebrow__content--spacer {
  background-color: #fff; }

.ad-eyebrow__slider-controls {
  width: 100%; }

.ad-eyebrow__control-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a9a9a9;
  cursor: pointer; }

.ad-eyebrow__control-item--active {
  background: #494949; }

.evergreen-eyebrow {
  margin: 40px 0;
  padding: 20px 10px;
  text-align: center; }

.evergreen-eyebrow__icon,
.evergreen-eyebrow__stat,
.evergreen-eyebrow__text {
  display: inline-block; }

.evergreen-eyebrow__icon {
  font-size: 60px; }

.evergreen-eyebrow__stat {
  font-size: 55px; }

.evergreen-eyebrow__text {
  margin: 20px 0 0;
  text-align: left; }
  .evergreen-eyebrow__text p.text--desc {
    margin: 0;
    font-weight: 700; }
  .evergreen-eyebrow__text p.text--source {
    margin: 0;
    font-size: 14px; }

.promotion-eyebrow {
  position: relative;
  min-height: 168px;
  margin: 20px 0; }
  .promotion-eyebrow .bar__left,
  .promotion-eyebrow .bar__right {
    width: 10px; }

.promotion-eyebrow-final {
  padding: 22px 0;
  text-align: center;
  opacity: 1; }
  .promotion-eyebrow-final a {
    padding: 9px 57px 12px 42px !important;
    color: #fff; }
  .promotion-eyebrow-final a span {
    line-height: 2.5em !important; }

.promotion-eyebrow-header {
  width: 100%; }
  .promotion-eyebrow-header h3 {
    max-width: 220px;
    margin: 0 auto 12px;
    color: #000;
    font-size: 26px;
    font-weight: 300; }

.promotion-eyebrow-initial {
  display: none; }

.promotion-eyebrow-initial__message {
  margin: 70px 14px 0;
  color: #000;
  font-size: 26px; }

.action-eyebrow {
  text-align: center;
  margin: 50px 0 100px; }
  .action-eyebrow h2 {
    font-size: 28px;
    font-weight: 700; }

.action-eyebrow__list {
  text-align: center; }

.action-eyebrow__list li {
  display: inline-block;
  padding: 0 11px;
  text-align: center; }

.action-eyebrow__description {
  max-width: 230px;
  margin: 42px auto 5px;
  font-size: 16px;
  font-weight: 300; }

.action-eyebrow__btn {
  width: 100%;
  padding: 16px 0 34px; }

.file-download-eyebrow__list {
  margin: 60px 0;
  text-align: center;
  overflow: auto; }

.file-download-eyebrow__list li:only-child .file-download-eyebrow__text {
  display: inline;
  width: 100%; }

.file-download-eyebrow__list li:only-child .file-download-eyebrow__icon {
  display: inline; }

.file-download-eyebrow__list li:only-child {
  padding: 0;
  margin: 0;
  float: none;
  display: inline-block; }

.file-download-eyebrow__list li {
  display: block;
  padding: 0 0 21px;
  text-align: center; }

.file-download-eyebrow__link {
  color: #000;
  font-size: 18px;
  text-decoration: none; }
  .file-download-eyebrow__link.active, .file-download-eyebrow__link:hover, .file-download-eyebrow__link:focus {
    color: #000;
    text-decoration: none; }

.file-download-eyebrow__text {
  width: 220px;
  margin: 7px 0 0;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  font-weight: 100;
  line-height: 1.4; }

.file-download-eyebrow__text,
.file-download-eyebrow__icon {
  display: inline-block; }

.file-download-eyebrow__icon {
  margin-right: 19px;
  color: #00a6ca;
  font-size: 40px;
  vertical-align: middle; }

.file-download-eyebrow__icon--zip::before {
  content: '\f114'; }

.file-download-eyebrow__icon--ppt::before {
  content: '\f019'; }

.file-download-eyebrow__icon--video::before {
  content: '\f01d'; }

@media (max-width: 767px) {
  .full-width {
    margin-right: -16px;
    margin-left: -16px; }
    .full-width [class*='col-'] {
      padding: 0; } }

@media (min-width: 768px) {
  .eyebrow-newsletter {
    margin: 20px 0 40px; }
    .eyebrow-newsletter .form-newsletter {
      margin: 0;
      padding: 30px 60px; }
  .cta-eyebrow {
    margin: 20px 0 40px;
    padding: 40px 0;
    text-align: center; }
  .cta-eyebrow__text {
    font-size: 16px; }
    .cta-eyebrow__text .cta-eyebrow__text--strong {
      display: inline;
      font-size: 16px;
      line-height: 1; }
  .cta-eyebrow__btn {
    font-size: 14px; }
  .ad-eyebrow {
    margin: 20px 0 40px;
    padding: 60px 0; }
  .ad-eyebrow__title {
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 600; }
  .ad-eyebrow__subtext {
    margin-top: 10px;
    font-size: 12px; }
  .ad-eyebrow__col-wrap {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    -js-display: flex; }
  .ad-eyebrow__col-wrap--mobile {
    display: none; }
  .ad-eyebrow__col {
    margin-right: 30px;
    margin-left: 30px; }
    .ad-eyebrow__col:last-child {
      display: none; }
  .evergreen-eyebrow {
    margin: 90px 0;
    padding: 60px 0; }
  .evergreen-eyebrow__text {
    margin: 0 0 0 20px; }
  .promotion-eyebrow-header h3 {
    max-width: initial; }
  .promotion-eyebrow-final a {
    padding: 9px 77px 12px 62px !important; }
  .action-eyebrow__description {
    margin: 52px auto 20px;
    font-size: 18px; }
  .file-download-eyebrow__list li {
    width: 50%;
    margin: 20px 0 0;
    float: left; }
  .file-download-eyebrow__text {
    font-size: 18px;
    width: 180px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .ad-eyebrow__col:nth-child(2) {
    margin-right: 0; } }

@media (min-width: 992px) {
  .browSect {
    justify-content: center; } }

@media all and (min-width: 1200px) {
  .ad-eyebrow__col:last-child {
    display: block; }
  .promotion-eyebrow .bar__left,
  .promotion-eyebrow .bar__right {
    display: none; }
  .promotion-eyebrow .bar__left {
    left: 50%; }
  .promotion-eyebrow .bar__right {
    right: 50%; }
  .promotion-eyebrow-final {
    display: none;
    opacity: 0; }
  .promotion-eyebrow-initial {
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    width: 226px;
    max-width: 226px;
    height: 168px;
    margin: 0 auto;
    overflow: hidden; }
  .action-eyebrow h2 {
    font-size: 34px; }
  .action-eyebrow__btn {
    width: 330px;
    padding: 16px 0 34px; }
  .file-download-eyebrow__list li {
    width: auto;
    margin: 0 0 0 50px;
    padding: 0;
    display: inline-block;
    float: none; }
    .file-download-eyebrow__list li:first-of-type {
      margin: 0; } }
