.grid-list__item .block-grid {
  padding-bottom: 40px; }
  .grid-list__item .block-grid .block__meta {
    color: #494949; }

.grid-list__foot {
  margin-bottom: 40px;
  text-align: center; }
  .grid-list__foot .btn {
    border-radius: 0px;
    margin-top: 40px;
    border-radius: 0px;
    width: 100%;
    padding: 15px 20px 26px 20px;
    font-size: 14px;
    font-weight: 700; }
    .grid-list__foot .btn:focus {
      outline: 1px dashed #005365; }

.grid-list > .grid-list__item:nth-of-type(2n+1) {
  clear: both; }

.block-media__media img {
  width: 100%; }

.block-media__headline {
  margin-top: 0;
  font-weight: 500;
  line-height: 1em; }
  .block-media__headline::after {
    display: block;
    width: 80px;
    height: 6px;
    margin: 15px 0;
    background-color: #fcd800;
    content: ''; }

.block-media__excerpt {
  font-size: 16px;
  line-height: 1em; }

.block-grid__media img {
  width: 100%; }

.block-grid__media + .block-grid__headline {
  margin-top: 10px; }

.block-grid__headline {
  font-weight: bold; }

.grid-item-debug i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000000;
  opacity: .25; }

.grid-item-debug ul {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 3px;
  background-color: #000000;
  color: #fff;
  font-size: 12px;
  opacity: .75; }

.grid-item-debug:hover ul {
  display: block; }
  .grid-item-debug:hover ul li {
    margin: 5px 0; }

.grid-list--text {
  margin-top: 60px; }
  .grid-list--text .text-article-list__item {
    position: relative;
    margin: 0 0 40px;
    padding: 0;
    border: 0; }
    .grid-list--text .text-article-list__item .block-grid--text {
      position: relative; }
      .grid-list--text .text-article-list__item .block-grid--text::before {
        display: block;
        position: absolute;
        top: 0;
        left: -20px;
        height: 100%;
        border-left: 2px solid #00A6CA;
        content: ' '; }
    .grid-list--text .text-article-list__item a:hover {
      text-decoration: none; }

.filter-nav {
  text-align: center; }

.filter-nav__item {
  display: inline-block;
  margin: 0 10px;
  float: none; }
  .filter-nav__item .btn {
    text-align: left;
    white-space: normal;
    vertical-align: top;
    height: 20px !important;
    padding: 3px 0px 0px !important;
    font-size: 17px !important; }

.grid-filter h2 {
  color: #494949;
  text-align: center; }

.grid-filter--column h2 {
  text-align: left; }

.grid-filter--column .filter-nav {
  text-align: left; }

.grid-filter--column .filter-nav__item {
  margin: 0 0 10px;
  padding: 0 20px 0 0;
  box-sizing: border-box; }
  .grid-filter--column .filter-nav__item:first-child {
    width: 100%; }

.grid-filter__container .filter-nav {
  display: none;
  margin-bottom: 50px; }

.grid-filter__container .filter-nav-mobile {
  display: block;
  margin-bottom: 20px; }

input.alt {
  border-color: #eee;
  background-color: #eee; }

.select-filter {
  position: relative;
  height: 30px;
  margin-bottom: 10px;
  border: 0;
  border-radius: none;
  background-color: #ddd; }
  .select-filter select {
    width: 100%;
    opacity: 0; }

.select-filter__label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  color: #00a6ca;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .select-filter__label .fa {
    position: absolute;
    right: 10px; }

@media (min-width: 768px) {
  .block-media--article .block-media__media img {
    width: 100%; }
  .grid-filter__container .filter-nav {
    display: none; }
  .grid-filter__container .filter-nav-mobile {
    display: block; }
  .grid-filter--column.col-md-4 .filter-nav__item {
    width: 50%; }
  .grid-filter--column.col-md-8 .filter-nav__item {
    width: 33%; }
    .grid-filter--column.col-md-8 .filter-nav__item:first-child {
      width: 100%; }
  .grid-list--text .text-article-list__item {
    margin: 0 0 60px; }
    .grid-list--text .text-article-list__item .block-grid {
      position: relative; }
      .grid-list--text .text-article-list__item .block-grid::before {
        display: block;
        position: absolute;
        top: 0;
        left: -20px;
        height: 100%;
        border-left: 2px solid #00A6CA;
        content: ' '; }
    .grid-list--text .text-article-list__item::after {
      display: block;
      position: absolute;
      top: -30px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #eee;
      content: ' '; }
    .grid-list--text .text-article-list__item:first-child::after {
      display: none; } }

@media (min-width: 992px) {
  .grid-list > .grid-list__item:nth-of-type(n) {
    clear: none; }
  .grid-list > .grid-list__item:nth-of-type(3n+1) {
    clear: both; }
  .grid-list--text .text-article-list__item::after {
    top: -30px;
    left: -100px;
    width: calc(100% + 200px); }
  .grid-filter__container .filter-nav {
    display: block; }
  .grid-filter__container .filter-nav-mobile {
    display: none; }
  .grid-list__foot .btn {
    width: auto; } }

@media (max-width: 992px) {
  .grid-list > .grid-list__item:nth-child(9) {
    display: none; } }
