/* TransUnion 2016 Brand Colors */
/* ---------------------------- */
/*#EEEEEE*/
/*#DDDDDD*/
/*#A9A9A9*/
/*#707070*/
/* ==========================================================================
	Social Media Contact Component 
============================================================================= */
.share-component-insights-wrapper {
  display: block; }
  .share-component-insights-wrapper .shareButtons {
    padding-top: 5px;
    padding-bottom: 10px;
    clear: both; }
    .share-component-insights-wrapper .shareButtons.shareRight div {
      float: right; }
    .share-component-insights-wrapper .shareButtons .addthis-animated {
      animation-fill-mode: both;
      animation-timing-function: ease-out;
      animation-duration: .3s;
      display: block !important;
      opacity: 1 !important; }
      .share-component-insights-wrapper .shareButtons .addthis-animated .at4-visually-hidden {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        overflow: hidden; }
      .share-component-insights-wrapper .shareButtons .addthis-animated .at-icon-wrapper {
        line-height: 24px !important;
        height: 24px !important;
        width: 24px !important;
        border-radius: 50%;
        background-color: #00A6CA !important;
        vertical-align: middle;
        cursor: pointer;
        margin: 0 5px 5px 0;
        display: inline-block;
        overflow: hidden;
        border: 0;
        text-decoration: none;
        text-transform: none;
        transition: all .2s ease-in-out; }
        .share-component-insights-wrapper .shareButtons .addthis-animated .at-icon-wrapper .at-icon {
          height: 24px !important;
          width: 24px !important;
          fill: white;
          border: 0; }
        .share-component-insights-wrapper .shareButtons .addthis-animated .at-icon-wrapper:focus {
          transform: translateY(-4px);
          outline-offset: -1px;
          color: inherit; }
      .share-component-insights-wrapper .shareButtons .addthis-animated .at_flat_counter {
        line-height: 16px;
        font-size: 10.2px;
        cursor: pointer;
        font-family: helvetica,arial,sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        vertical-align: top;
        height: auto;
        margin: 0 5px;
        padding: 0 6px;
        left: -1px;
        background: #ebebeb;
        color: #32363b;
        transition: all .2s ease; }
        .share-component-insights-wrapper .shareButtons .addthis-animated .at_flat_counter:after {
          top: 30%;
          left: -4px;
          content: "";
          position: absolute;
          border-width: 5px 8px 5px 0;
          border-style: solid;
          border-color: transparent #ebebeb transparent transparent;
          display: block;
          width: 0;
          height: 0; }
