a.btn, .btn {
  padding: .382em 1em !important;
  font-size: .9rem;
  box-sizing: border-box;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.618em;
  outline: 0;
  padding: .382em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  vertical-align: middle;
  transition: all .15s ease;
  vertical-align: middle;
  z-index: 1;
  height: auto; }

.btn-outline-blue, a.btn-outline-blue:not([href]):not([tabindex]) {
  border: 4px solid;
  border-color: #0FC3EA;
  background-color: transparent;
  border-radius: 45px; }
  .btn-outline-blue:hover, a.btn-outline-blue:not([href]):not([tabindex]):hover {
    background-color: #0dafd2; }
  .btn-outline-blue:active, a.btn-outline-blue:not([href]):not([tabindex]):active {
    border-color: #0FC3EA;
    background-color: #09738a;
    box-shadow: none; }
  .btn-outline-blue:focus, a.btn-outline-blue:not([href]):not([tabindex]):focus {
    background-color: #0c9bba;
    border-color: #0FC3EA;
    box-shadow: none; }
  .btn-outline-blue:active:focus, a.btn-outline-blue:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

.btn-blue,
a.btn-blue:not([href]):not([tabindex]) {
  border: 4px solid;
  border-color: #0FC3EA;
  background-color: transparent;
  background-color: #0FC3EA;
  border-radius: 45px; }
  .btn-blue:hover,
  a.btn-blue:not([href]):not([tabindex]):hover {
    background-color: #0dafd2; }
  .btn-blue:active,
  a.btn-blue:not([href]):not([tabindex]):active {
    border-color: #0FC3EA;
    background-color: #09738a;
    box-shadow: none; }
  .btn-blue:focus,
  a.btn-blue:not([href]):not([tabindex]):focus {
    background-color: #0c9bba;
    border-color: #0FC3EA;
    box-shadow: none; }
  .btn-blue:active:focus,
  a.btn-blue:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

.btn-outline-yellow, a.btn-outline-yellow:not([href]):not([tabindex]) {
  border: 4px solid;
  border-color: #fcd800;
  background-color: transparent; }
  .btn-outline-yellow:hover, a.btn-outline-yellow:not([href]):not([tabindex]):hover {
    background-color: #e3c200; }
  .btn-outline-yellow:active, a.btn-outline-yellow:not([href]):not([tabindex]):active {
    border-color: #fcd800;
    background-color: #968100;
    box-shadow: none; }
  .btn-outline-yellow:focus, a.btn-outline-yellow:not([href]):not([tabindex]):focus {
    background-color: #c9ac00;
    border-color: #fcd800;
    box-shadow: none; }
  .btn-outline-yellow:active:focus, a.btn-outline-yellow:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

.btn-yellow, a.btn-yellow:not([href]):not([tabindex]) {
  border: 4px solid;
  border-color: #fcd800;
  background-color: transparent;
  background-color: #fcd800; }
  .btn-yellow:hover, a.btn-yellow:not([href]):not([tabindex]):hover {
    background-color: #e3c200; }
  .btn-yellow:active, a.btn-yellow:not([href]):not([tabindex]):active {
    border-color: #fcd800;
    background-color: #968100;
    box-shadow: none; }
  .btn-yellow:focus, a.btn-yellow:not([href]):not([tabindex]):focus {
    background-color: #c9ac00;
    border-color: #fcd800;
    box-shadow: none; }
  .btn-yellow:active:focus, a.btn-yellow:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

header.retailActive .btn-outline-yellow, header.retailActive a.btn-outline-yellow:not([href]):not([tabindex]) {
  border: 4px solid;
  border-color: #0FC3EA;
  background-color: transparent;
  border-radius: 45px; }
  header.retailActive .btn-outline-yellow:hover, header.retailActive a.btn-outline-yellow:not([href]):not([tabindex]):hover {
    background-color: #0dafd2; }
  header.retailActive .btn-outline-yellow:active, header.retailActive a.btn-outline-yellow:not([href]):not([tabindex]):active {
    border-color: #0FC3EA;
    background-color: #09738a;
    box-shadow: none; }
  header.retailActive .btn-outline-yellow:focus, header.retailActive a.btn-outline-yellow:not([href]):not([tabindex]):focus {
    background-color: #0c9bba;
    border-color: #0FC3EA;
    box-shadow: none; }
  header.retailActive .btn-outline-yellow:active:focus, header.retailActive a.btn-outline-yellow:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

header.retailActive .btn-yellow, header.retailActive a.btn-yellow:not([href]):not([tabindex]) {
  border: 4px solid;
  border-color: #0FC3EA;
  background-color: transparent;
  background-color: #0FC3EA;
  border-radius: 45px; }
  header.retailActive .btn-yellow:hover, header.retailActive a.btn-yellow:not([href]):not([tabindex]):hover {
    background-color: #0dafd2; }
  header.retailActive .btn-yellow:active, header.retailActive a.btn-yellow:not([href]):not([tabindex]):active {
    border-color: #0FC3EA;
    background-color: #09738a;
    box-shadow: none; }
  header.retailActive .btn-yellow:focus, header.retailActive a.btn-yellow:not([href]):not([tabindex]):focus {
    background-color: #0c9bba;
    border-color: #0FC3EA;
    box-shadow: none; }
  header.retailActive .btn-yellow:active:focus, header.retailActive a.btn-yellow:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

.site-footer .btn {
  display: none !important; }
