a.btn, .btn {
  padding: .382em 1em !important;
  font-size: .9rem;
  box-sizing: border-box;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.618em;
  outline: 0;
  padding: .382em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: all .15s ease;
  vertical-align: middle;
  z-index: 1;
  height: auto; }

.btn-outline-blue, a.btn-outline-blue:not([href]):not([tabindex]) {
  border-color: #0FC3EA;
  background-color: transparent;
  border-radius: 45px; }
  .btn-outline-blue:hover, a.btn-outline-blue:not([href]):not([tabindex]):hover {
    background-color: #0FC3EA; }
  .btn-outline-blue:active, a.btn-outline-blue:not([href]):not([tabindex]):active {
    background-color: #0FC3EA;
    border-color: #0FC3EA;
    box-shadow: none; }
  .btn-outline-blue:focus, a.btn-outline-blue:not([href]):not([tabindex]):focus {
    background-color: #0FC3EA;
    border-color: #0FC3EA;
    box-shadow: none; }
  .btn-outline-blue:active:focus, a.btn-outline-blue:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

.btn-blue,
a.btn-blue:not([href]):not([tabindex]) {
  border-color: #0FC3EA;
  background-color: transparent;
  background-color: #0FC3EA;
  border-radius: 45px; }
  .btn-blue:hover,
  a.btn-blue:not([href]):not([tabindex]):hover {
    background-color: #0FC3EA; }
  .btn-blue:active,
  a.btn-blue:not([href]):not([tabindex]):active {
    background-color: #0FC3EA;
    border-color: #0FC3EA;
    box-shadow: none; }
  .btn-blue:focus,
  a.btn-blue:not([href]):not([tabindex]):focus {
    background-color: #0FC3EA;
    border-color: #0FC3EA;
    box-shadow: none; }
  .btn-blue:active:focus,
  a.btn-blue:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

html #shareableHeader .btn-outline-yellow, html #shareableHeader a.btn-outline-yellow:not([href]):not([tabindex]) {
  border-color: #0FC3EA;
  background-color: transparent;
  border-radius: 45px; }
  html #shareableHeader .btn-outline-yellow:hover, html #shareableHeader a.btn-outline-yellow:not([href]):not([tabindex]):hover {
    background-color: #0FC3EA; }
  html #shareableHeader .btn-outline-yellow:active, html #shareableHeader a.btn-outline-yellow:not([href]):not([tabindex]):active {
    background-color: #0FC3EA;
    border-color: #0FC3EA;
    box-shadow: none; }
  html #shareableHeader .btn-outline-yellow:focus, html #shareableHeader a.btn-outline-yellow:not([href]):not([tabindex]):focus {
    background-color: #0FC3EA;
    border-color: #0FC3EA;
    box-shadow: none; }
  html #shareableHeader .btn-outline-yellow:active:focus, html #shareableHeader a.btn-outline-yellow:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

html #shareableHeader .btn-yellow,
html #shareableHeader a.btn-yellow:not([href]):not([tabindex]) {
  border-color: #0FC3EA;
  background-color: transparent;
  background-color: #0FC3EA;
  border-radius: 45px; }
  html #shareableHeader .btn-yellow:hover,
  html #shareableHeader a.btn-yellow:not([href]):not([tabindex]):hover {
    background-color: #0FC3EA; }
  html #shareableHeader .btn-yellow:active,
  html #shareableHeader a.btn-yellow:not([href]):not([tabindex]):active {
    background-color: #0FC3EA;
    border-color: #0FC3EA;
    box-shadow: none; }
  html #shareableHeader .btn-yellow:focus,
  html #shareableHeader a.btn-yellow:not([href]):not([tabindex]):focus {
    background-color: #0FC3EA;
    border-color: #0FC3EA;
    box-shadow: none; }
  html #shareableHeader .btn-yellow:active:focus,
  html #shareableHeader a.btn-yellow:not([href]):not([tabindex]):active:focus {
    box-shadow: none; }

html #shareableHeader .tu-mainHeader .mainNavRight a.btn, html #shareableHeader .tu-mainHeader .mainNavRight .btn {
  padding: .382em 1em;
  font-size: .9rem; }
